@import url('https://fonts.googleapis.com/css?family=Comfortaa');

body {
	margin: 125px 12rem 75px;
	font-family: 'Comfortaa';
}
p, ul {
  color: black;
  opacity: .8;
  font-family: 'Comfortaa';
  font-size: 1rem;
  font-weight: 100;
}

h2 {
	font-family: 'Comfortaa';
	font-weight: bold;
	color: coral;
	font-size: 1.6rem;
}

pre {
	margin-left: 13%;
	font-size: 1rem;
}

hr {
	opacity: .3;
	margin: 0 30% 0;
}

a {
	color: coral;
	text-decoration: none;
}

a:hover {
	font-weight: bold;
	/*font-size: .94rem;*/
	text-decoration: underline;
}

.func {
	color: coral;
	background-color: azure;
	font-size: 1.1rem;
	font-family: consolas;
}
code.block  {
    display: block;
    background: #f5f5f5;
    padding: 0.5em;
    color: #333333;
    overflow-x: auto;
    font-size: 1rem;
}

ul {
  list-style-type: none;
}

img {
	max-width: 900px;
	width: 100%;
	height: auto;
}