body {
    background-image: url("train.gif");
    background-size: cover;
}

.drew {
    font-size: 120px;
    color: #FFFFCC;
    font-family: arial;
    font-weight: 900%;
    margin: 0 0 0 0;
}

p {
    margin: 0 0 0 5;
    color: #FFFFCC;
    font-family: arial;
}