@import url('https://fonts.googleapis.com/css?family=Comfortaa');
body {
  background-color: white ;
  color: lightgray;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Comfortaa",
    "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.1rem;
}

a.about {
  color: rgb(141, 211, 199);
  font-size: 1rem;
}

.about:hover {
    border-bottom: 1px solid currentColor;
}

h1 {
  color: black;
  font-weight: 600;
  font-family: gotham rounded a,gotham rounded b;
}

.about {
  max-width: 60%;
  font-family: 'Comfortaa';
  font-size: 1.1rem;
}

.all {
  margin: auto;
  max-width: 100%;
}

.hr_width {
  max-width: 25%;
  padding: 0 0 0;
}

#vis {
  border-bottom: 1px dotted #ccc;
  border-left: 1px dotted #ccc;
  max-width: 245rem;
  max-height: 150rem;
}

#outer {
    width:100%;
    text-align: center;
    padding: 0 0 0 0;
}


.inner {
    display: inline-block;
    text-transform: !important;
    font-size: 15px;
    margin-top: 0rem;
    margin-bottom: 0;
    font-weight: 600!important;
}

.data_science {
    color: #67c7d3;
}

.software {
    color: #dbb64b;
}

.information {
    color: coral;
}

.card:hover  {
  opacity: 0.9;
  /*border: 1px solid pink;*/
}

/* ==========================================================================
   GENERAL
   ========================================================================== */

/*@font-face {
    font-family: 'EB Garamond';
    src: url('fonts/ebgaramond-regular-webfont.eot');
    src: url('fonts/ebgaramond-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/ebgaramond-regular-webfont.woff2') format('woff2'),
    url('fonts/ebgaramond-regular-webfont.woff') format('woff'),
    url('fonts/ebgaramond-regular-webfont.ttf') format('truetype'),
    url('fonts/ebgaramond-regular-webfont.svg#eb_garamondregular') format('svg');
    font-weight: 400;
    font-style: normal;
}*/

html, body, div, section, h1, h2, h3, h4, p{
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    color: #444;
}


ul {
    margin-top: 0.25em;
    margin-left: 0;
    padding-left: 20px;
}

section {
    display: block;
}

html {
    font-size: 100%;
    height: 100%;
    overflow-y: auto;

    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-family: "Comfortaa", Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #444;
    font-style: normal;
    height: 100%;
    line-height: 1.5;
    min-height: 100%;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

h1, h2, h3, h6 {
    font-family: "Comfortaa", "Cambria", serif; 
    font-weight: 50;
}

h2 {

    font-size: 2.75em;
    font-weight:400;
    line-height:140%;
    letter-spacing: 1px;
}

h3 {
    font-size: 1.75em;
    margin: 0.75em 0 0.25em 0;
}

h4 {
    margin: .25em 0;
}

h5 {
   line-height: 1em; 
   margin: 0;
   font-size: 1em;
}

hr {
    margin: 10px 20% 20px 20%;
    opacity: .1;
}

a {
    text-decoration: none;
    color: #333;
}

.auto-resizable-iframe {
  max-width: 700px;
  margin: 1em auto;
  }

.auto-resizable-iframe > div {
  position: relative;
  padding-bottom: 56.25%;
  height: 0px;
}

.auto-resizable-iframe iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.content-text p, .content-text img {
    width: 100%;
    margin: 1em 0;
}

.content-text .shadow {
    box-shadow: 6px 6px 10px rgba(0,0,0,0.2);
}


/* ==========================================================================
    PROJECT PAGE
    ========================================================================== */

.project-contents {
    width: 50% !important;
    max-width: 500px;
    margin-bottom: 4em;
}

.project-contents a {
    color: royalblue;
}

#ffb900.content-text img {
    width: 100%;
    margin: 0.5em 0 1em 0;
}

.uppercase {
    font-family: "Comfortaa", Arial, sans-serif;
    text-transform: uppercase;
    color: #aaa;
    letter-spacing: 1px;
    font-weight: 700;
}

.project-contents h4 {
    text-transform: uppercase;
    color: #aaa;
    letter-spacing: 1px;
    font-weight: 700;
}

div.project-wrapper {
    position: relative;
}

div.project-wrapper:hover {
    background: rgba(215, 215, 215, 0.1);
}

.project-grid {
    list-style: none;
}

.project-grid li {
    width: 30%;
    display: inline-block;
    margin-right: 3%;
    margin-bottom: 4em;
}

ul.project-grid {
    padding-left: 0;
}

.project-wrapper, .project-description {
    width: 85%;
}

.project-wrapper img {
    width: 100%;
    margin-bottom: 1em;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.25);
}

.wrap {
    padding: 0 0 0;
    max-width: 1300px;
    
    margin: auto;    
    width: 100%;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#content {
    float: left;
    width: 100%;
    width: -webkit-calc(100% - 200px);
    width: -moz-calc(100% - 200px);
    width: calc(100% - 200px);
    margin-left: 10%;
}

.project-title {
    font-size: 16px;
    font-family: 'Comfortaa';
    font-weight: normal;
    display: table-row;
    line-height: 1.6;
}

.project-description {
    font-family: "Comfortaa";
    font-size: 14px;
    font-weight: 400;
    color: #aaa;
}

li:hover .project-description:not(.no-hover) {
    color: black;
}

li img {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

li:hover img:not(.no-hover) {
    -ms-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.background-shadow {
    width: 100%;
    height: 100%;
    background: #F96800; /* Old browsers */
    background: -moz-linear-gradient(top,  #F96800 0%, #ff2071 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F96800), color-stop(100%,#ff2071)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #F96800 0%,#ff2071 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #F96800 0%,#ff2071 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #F96800 0%,#ff2071 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #F96800 0%,#ff2071 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F96800', endColorstr='#ff2071',GradientType=0 ); /* IE6-9 */
    opacity: 0.15;
    z-index: 1;
    position: fixed;
    display: none;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ==========================================================================
   TRANSITIONS
   ========================================================================== */

body, a {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

li .project-description {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

/* ==========================================================================
   RESPONSIVE
   ========================================================================== */

   @media only screen and (max-width: 75em) {
        #sidebar {
            width: 140px;
        }

        #sidebar #sidebar-wrap {
            width: 140px;
        }

        #content {
            width: 65%; /* TODO: figure out good defaults for older browsers */
            width: -webkit-calc(100% - 215px);
            width: -moz-calc(100% - 215px);
            width: calc(100% - 215px);
            margin-left: 215px;
        }
    }

    @media only screen and (max-width: 1100px) {
        .project-grid li {
            width: 45%;
            margin-right: 4.5%;
        }

        .project-wrapper {
            width: 90%;
        }
    }

    /* move 'beside' captions below */
    @media only screen and (max-width: 60em) {

        .wrap {
            margin: 0 40px;
        }

        #content {
            width: 65%;
            /* TODO: figure out good defaults for older browsers; */
            width: -webkit-calc(100% - 200px);
            width: -moz-calc(100% - 200px);
            width: calc(100% - 200px);
            margin-left: 200px;
        }

        .show {
            display: none;
        }
    }

    /* break two-columns */
    @media only screen and (max-width: 45em) {

        .project-contents {
            width: 80% !important;
        }

        .show {
            display: block;
        }

        .wrap {
            float: none;
            padding: 9em 0;
            margin: 0 auto;
            width: 90%;

            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .mobile-only { display: block; }

        #topbar {
            position: fixed;
            background: white;
            width: 90%;
            z-index: 10;
            padding: 1.5em 5% 1em 5%;
            -webkit-transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
        }

        #sidebar {
            width: 100%;
            z-index: 10;
            margin: 0;
            overflow-y: auto;
        }

        #topbar.active {
            box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
        }

        #sidebar #sidebar-wrap {
            position: static;
            width: auto;
        }

        #sidebar .logo {
            float: left;
            margin-bottom: 0;
            max-width: 150px;
        }

        #sidebar nav {
            position: fixed;
            background: #ffffff;
            width: 50%;
            padding: 24px 30px;
            height: 100%;
            z-index: 90;
            top: 0; right: 0; bottom: 0;
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
            overflow-y: auto;
            font-size: 14.3px;
            -webkit-transition: -webkit-transform 300ms cubic-bezier(0.165, 0.840, 0.440, 1.000), box-shadow 300ms ease;
            -moz-transition: transform 300ms cubic-bezier(0.165, 0.840, 0.440, 1.000), box-shadow 300ms ease;
            transition: transform 300ms cubic-bezier(0.165, 0.840, 0.440, 1.000), box-shadow 300ms ease;

            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }


        #sidebar nav ul {
            overflow-x: hidden;
        }

        #sidebar nav.active {
            -webkit-transform: translateX(0);
            transform: translateX(0);
            -webkit-transition: -webkit-transform 300ms cubic-bezier(0.165, 0.840, 0.440, 1.000), box-shadow 300ms ease;
            -moz-transition: transform 300ms cubic-bezier(0.165, 0.840, 0.440, 1.000), box-shadow 300ms ease;
            transition: transform 300ms cubic-bezier(0.165, 0.840, 0.440, 1.000), box-shadow 300ms ease;
        }

        #sidebar nav > ul {
            position: absolute;
            top: 0; left: 30px;
            bottom: 30px; right: 0;
            padding-top: 50px;
            padding-bottom: 40px; /* helps make sure the last item doesn't get lost */
            font-size: 1.05em;
            line-height: 1.8;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
        }

        #sidebar nav .category > ul {
            display: block;
            max-height: none !important;
            opacity: 1.0;
        }

        #sidebar nav .category:first-child {
            margin-top: 0;
        }

        #sidebar .menu-close {
            position: absolute;
            top: 15px;
            right: 24px;
            padding: 20px 10px 24px;
            font-family: "Comfortaa", sans-serif;
            font-weight: 300;
            font-size: 32px;
            line-height: 0;
            text-align: center;

            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        #sidebar .menu-close:before {
            content: 'X';
        }

        #sidebar .menu-open {
            position: absolute;
            width: 44px;
            height: 44px;
            top: 15px;
            right: 4px;

            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        #sidebar .menu-open:before {
            content: '';
            position: absolute;
            top: 13px; left: 10px;
            width: 23px;
            height: 3px;
            border-top: 9px double #222222;
            border-bottom: 3px solid #222222;
        }

        #sidebar .menu-open:hover:before {
            border-top-color: #aaaaaa;
            border-bottom-color: #aaaaaa;
        }

        #content {
            float: none;
            width: auto;
            margin-left: 0;
        }

        #content_page_wrapper {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        #content_page_wrapper h2 {
            margin-top: 1.5em;
        }

        div#using{display: none !important;}

    }

    @media only screen and (max-width: 35em) {

        #sidebar nav ul {
            overflow-x: hidden;
        }

        #sidebar .name {
            display: none;
        }

        #content > div {
            margin-bottom: 2.0em;
        }

        #content .project {
            float: left;
            width: 48%;
            
            margin-right: 4.0%;
            margin-bottom: 2.0em;
        }

        #sidebar nav {
            width: 60%;
        }

        .project-contents {
            width: 100% !important;
        }

        .wrap {
            padding: 6em 0;
        }

    }

    @media only screen and (max-width: 500px) {
        #sidebar nav {
            width: 70%;
        }

        .project-grid li {
            width: 100%;
        }

        .project-wrapper {
            width: 100%;
        }

        #sidebar nav ul {
            overflow-x: hidden;
        }
    }


# SVG
g.tick line {
  opacity: .1;
}

path.domain {
  opacity:1;
} 

.tick {
  opacity: 0
}

#vis {
  border-bottom: 0px dotted #ccc;
  border-left: 0px dotted #ccc;
  width: 200px;
  height: 100px;
  padding: 0 0 0;
}

h1.jared {
  font-family: 'Comfortaa';
  font-size: 25px;
  font-weight: 500;
}

.llamaGif {
    width: 75;
    height: 75;
    border-radius: 30px;
}

@media (max-width: 600px) {
     body {
        font-size: 1.5rem
     }
    .inner {
        font-size: 1.55rem;
        font-weight: 600!important;
    }

    h1.jared {
      font-size: 2.1rem;
    }

    .about {
        font-size: 1.7rem;
    }

    #sidebar {
            width: 0px;
        }
}

