@import url("https://fonts.googleapis.com/css?family=Comfortaa");
body {
  font-size: 16px;
}
main {
  max-width: 80%;
  margin: auto;
  text-align: center;
  /* text-align: center;
  display: flex;
  justify-content: center; */
}
#about {
  max-width: 40%;
  margin: 2rem auto;
  text-align: left;
  font-family: Comfortaa;
  font-size: 1.1rem;
  font-weight: 400;
  color: #444;
}

#name {
  font-family: "Comfortaa";
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 2rem auto;
  color: black;
  margin-bottom: 0;
  letter-spacing: 5px;
}

#projects {
  max-width: 40%;
  margin: 2rem auto;
  text-align: left;
  font-family: Comfortaa;
  font-size: 1.2rem;
  font-weight: bold;
  color: #444;
}

img {
  vertical-align: bottom;
  height: 25px;
  /* width: 40px; */
  opacity: 0.8;
  padding-left: 5px;
}
