@import url("https://fonts.googleapis.com/css?family=Comfortaa");
body {
  font-size: 16px;
}
main {
  max-width: 80%;
  margin: auto;
  text-align: center;
}
#about {
  max-width: 45%;
  margin: 2rem auto;
  text-align: left;
  font-family: Comfortaa;
  font-size: 1.5rem;
  font-weight: 400;
  color: #444;
  line-height: 1.5;
}

#name {
  font-family: "Comfortaa";
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  margin: 2.5rem auto;
  color: black;
  margin-bottom: 0;
  letter-spacing: 5px;
}

#projects {
  max-width: 40%;
  margin: 2rem auto;
  text-align: left;
  font-family: Comfortaa;
  font-size: 1.2rem;
  font-weight: bold;
  color: #444;
}

img {
  vertical-align: bottom;
  height: 2.1rem;
  opacity: 0.8;
  padding-left: 1rem;
}

#icons {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 2rem;
}
/* tablet */
@media screen and (max-width: 1000px) {
  #name {
    font-size: 1.6rem;
    font-weight: 500;
    margin: 2rem auto;
    color: teal;
    margin-bottom: 0;
    /* max-width: 50%; */
    letter-spacing: 5px;
    padding: 0rem;
    padding-top: 2rem;
  }

  #about {
    max-width: 60%;
    margin: 2rem auto;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.5;
  }
}

/*  mobile */
@media screen and (max-width: 500px) {
  #name {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 1rem auto;
    color: black;
    margin-bottom: 0;
    /* max-width: 50%; */
    letter-spacing: 5px;
    padding: 0rem;
    padding-top: 2rem;
  }

  #about {
    max-width: 90%;
    margin: 0 auto;
    text-align: left;
    font-size: 1.16rem;
    padding-bottom: 1rem;
    padding-top: 2rem;
  }

  img {
    height: 1.75rem;
  }
}
