@import 'https://fonts.googleapis.com/css?family=Inconsolata';

h1, p, h2, h3, h4, button {
  font-family: Inconsolata;
  max-width: 50%;
}

h1 {
  outline: 8px solid rgb(254.8,210.67,4.24);
  border: 10px solid transparent;
  display: inline-block;
  font-size: 7rem;
}

.title {
  font-size: 7rem;
  border: 25px solid gold;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  padding: 0px;
  margin: 0px;
  font-size: .8rem;
}

button {
  font-size: 1.2rem;
  display: block;
  margin: auto;
}
  

.outer-grid {
  display: flex;
  justify-content: space-around;
  align-content: center;
  max-width: 50%;
  margin: auto;
}



#tooltip {
  pointer-events: none;
  background-color: white;
}

.t {
  color: black;
  margin: 0px;
  font-weight: bold;
  padding: 0px;
  font-size: .75rem;
}


#container {
  max-width: 50%;
  margin: 0 auto;
  max-width: 50%;
}

figure {
  flex: 1;
  height: 100%;
  flex-basis: 100%;
  margin: 1%;
}

.ggplot {
  width: 40%;
}


body {
  background-image : url(http://api.thumbr.it/whitenoise-361x370.png?background=ffffffff&noise=9c5c5c&density=1&opacity=50);
}


.hist-chart {
  display: block;
  margin: auto;
}

.disclaimer {
  font-size: .85rem;
}

a {
  color: black;
}
