@import url('https://fonts.googleapis.com/css?family=Comfortaa');

* {
	font-family: 'Comfortaa';
}

body {
	background-color: #fffafa;
}

h1 {
	font-size: 5rem;
	margin-bottom: 0px;
	letter-spacing: 2px;
	margin-top: 0px;
}

h3 {
	text-align: center;
}

.dataset-main {
	width: 40%;
    margin: 0 auto;
    padding-bottom: 5%;
    text-align: center;
}

hr {
	max-width: 80%;
	opacity: 0.3;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.item {
	max-width: 50%;
	width: auto;
	height: auto;
	padding-bottom: 7.5%;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.author {
	margin-top: 1px;
	margin-bottom: 1px;
}

.jared {
	color: #67c7d3;
	text-decoration: underline;
}
